<div class="wrapper">
  <div class="info">
    <span class="info-header">
      <span class="info-header-first">Самая вкусная пицца в мире</span>
      <span class="info-header-secondary yellow">только в Pizza Cheff</span>
    </span>
    <div class="icons">
      <div class="advantages">
        <img src="assets/images/hop.png" alt="advantage" class="icon" />
        <div class="advantages-info">
          <span class="advantage_header yellow">Lorem, ipsum.</span>
          <span class="advantage_text"
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad,
            deserunt?!</span
          >
        </div>
      </div>
      <div class="advantages">
        <img
          src="assets/images/kitchen-pack.png"
          alt="advantage"
          class="icon"
        />
        <div class="advantages-info">
          <span class="advantage_header yellow">Lorem, ipsum.</span>
          <span class="advantage_text"
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span
          >
        </div>
      </div>
      <div class="advantages">
        <img src="assets/images/seo-and-web.png" alt="advantage" class="icon" />
        <div class="advantages-info">
          <span class="advantage_header yellow">Lorem, ipsum.</span>
          <span class="advantage_text"
            >Lorem ipsum dolor sit amet consectetur adipisicing.</span
          >
        </div>
      </div>
      <div class="advantages">
        <img src="assets/images/holidays.png" alt="advantage" class="icon" />
        <div class="advantages-info">
          <span class="advantage_header yellow">Lorem, ipsum.</span>
          <span class="advantage_text"
            >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam,
            laudantium!</span
          >
        </div>
      </div>
    </div>
    <app-button name="Выбрать пиццу"></app-button>
  </div>
  <div class="image">
    <img src="assets/images/pizza_big.png" alt="pizza" />
  </div>
</div>
