<header class="wrapper">
  <div class="container">
    <picture class="logo">
      <source media="(max-width:767px)" srcset="assets/images/logo-min.png" />

      <img src="assets/images/logo.png" alt="pizza" />
    </picture>

    <nav>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#">Пиццы</a>
        </li>
        <li class="nav-item">
          <a href="#">Напитки</a>
        </li>
        <li class="nav-item">
          <a href="#">Доставка и оплата</a>
        </li>
        <li class="nav-item">
          <a href="#">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
